body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2rem;
}

h1 {
  text-align: center;
  margin-top: 90px;
}

button {
  padding: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: wheat;
  margin-top: 130px;
}

/* 

*/

#x {
  display: block;
}

#o {
  display: none;
  transform: translateX(-20px);
} 



#message {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  color: green;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 50%);
  grid-template-rows: repeat(3, 50%);
  justify-content: center;
  max-width:280px;
  height: 280px;
  margin: 60px auto;
}

#board div {
  font-size: 100px;
  text-align: center;
  cursor: pointer;
  transition: transform .2s;
}

#board div:hover {
  transform: translateY(-5px);
  background-color: blanchedalmond;
}


#a ,#b, #d, #e {
  border-right: 10px solid;
  border-bottom: 10px solid;
}

#c ,#f{
  border-bottom: 10px solid;
}


#g, #h  {
  border-right: 10px solid;
}


/* 

.fas, .far {
  font-size: 100px;
  margin: 22px;
} */

